body{
  background:#faf8f7;
}
nav {
  display: flex;
  justify-content: space-between;
  /*align-items: stretch;*/
}
.nav-figure {
  display: flex;
  justify-content: flex-start;
}
nav img {
  width: 70px;
}
li a {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}
.nav-links {
  display: flex;
  justify-content: flex-start;
}
li {
  display: inline-block;
}
li a:hover {
  background-color: #8f1b38;
}
header {
  display: flex;
  align-items: center;
}
.header-div {
border: #8f1b38;
}

