body{
  background:#faf8f7;
}
nav {
  display: flex;
  justify-content: space-between;
  /*align-items: stretch;*/
}
.nav-figure {
  display: flex;
  justify-content: flex-start;
}
nav img {
  width: 70px;
}
li a {
  display: block; 
  padding: 16px;
  text-align: center;
  text-decoration: none;
}
.nav-links {
  display: flex;
  justify-content: flex-start;
}
li {
  display: inline-block;
}
li a:hover {
  background-color: #362f30;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-div {
text-align: center;
}
.botton {
  width: 100px;
  height: 50px;
  text-align: center;
  Border: red, solid;
}
.article-div1 {
  width: 300 ;
  height: 500;
  text-align: center;
}
.article1 {
  width: 461px;
  height: 615px;
  border: #49141c solid;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
