body{
  background:#faf8f7;
  }
nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  } 
  li a {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
li {
  display: inline-block;
}
li a:hover {
  background-color: #8f1b38;
}
.LillyNailspic
{
  flex: 1 1 50%;
}
